body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F7EDF0;
}

html{
    scroll-behavior: smooth;
}

.nav{
    text-align: center;
}

.responsive-img{
    width:433px;
    height:auto;
}

.cart-btn{
    background-color: #ffa5a5;
    color:beige;
    transition: background-color 0.3s;
    
}

.cart-btn:hover{
    background-color: #FFD6C0;
}
#name{
    display: inline-block;
    color: #fbc3bc;
    font-family: "Shrikhand", cursive;
    text-align: center;
}


